h2{
    margin: 1.5em 0 0 2em;
}

ul{
    display: flex;
    align-items: center;

    overflow: auto;
    margin: 0 2em;

    li{
        display: flex;
        align-items: center;
        height: 10em;
        margin: 1em 0.3em;
        img{
            width: 17em;
            border-radius: 7px;
            transition: 1s;

        }
        img:hover{
            width: 21em;
            transition: 1s;

        }
    }
}

img:hover{
    width: 19em;
}